topic: string data type

In [3]:
name= "qasim"
print(name) # print
print(type(name)) # type
print(id(name)) #physical address

qasim
<class 'str'>
2931839496176

In [4]:
name= "qasim"
name=700
print(name) # print
print(type(name)) # type
print(id(name)) #physical address

700
<class 'int'>
2931838299856

there was no problem in running the code in cell 4 when we wrote 'name = 700' after 'name= 'qasim'' ( changing the data type ) because python is a 
dynamic language. but this can cause problem in larger projects.

In [10]:
name : str = "qasim" # here we have mapped data type
print(name)

700

python is dynaminc interpreter language , jave script is not. python does not use type script , java script does use type script. type script is 
statistically typed.

In [9]:
q='sfs'
print(q))
print(q)

SyntaxError: unmatched ')' (584742173.py, line 2)

In [8]:
q="aaaa"
q

'aaaa'

In [12]:
name : str = 700 
print(name)
# this code is still running. this error will be shown in vs code , here it is not being shown.

700

In [13]:
# int data type ( below)
name : int = 2000
print(name) 
print(type(name)) 
print(id(name))

2000
<class 'int'>
2931852706512

In [14]:
# below is float data type
name : float = 2000 
print(name) 
print(type(name)) 
print(id(name)) 
# the output of this is int even though we assigned int to it .  ??

2000
<class 'int'>
2931852709936

In [16]:
name : float = 2000.0
print(name) 
print(type(name)) 
print(id(name))

2000.0
<class 'float'>
2931838299888

In [21]:
# Below bool data type has been used
name : bool = bool
print(name) 
print(type(name)) 
print(id(name))

<class 'bool'>
<class 'type'>
140718198377376

In [23]:
# below list data type has been used.
name: list [str]=['a','b','c',200]
print(name)
print(type(name))
print(id(name))

['a', 'b', 'c', 200]
<class 'list'>
2931853138688

In [28]:
# below is tuple data type
name: tuple [str,int,float]=('pakistan','b','c',200) # in vs code this line will show error. because '200' is not 'float'.
print(name)
print(type(name))
print(id(name))

('pakistan', 'b', 'c', 200)
<class 'tuple'>
2931852794736

In [29]:
name: any = 200 # any from typescript
print(name)
print(type(name))
print(id(name))

200
<class 'int'>
140718199856136