# 02 Class Python Crash Course | f-string, jinja and string method

-pep8 standard

In [2]:
# variable
print ("name")

name

In [3]:
print(name)  # error

NameError: name 'name' is not defined

In [4]:
name : str = "qasim"
print(name)

qasim

In [13]:
# STRINGS .
# string boundaries: 
# 'string text',    "string text",     """ string text""",     ''' string text '''     multi line string .
#  'string text'     multi line string for type script

name : str = '''ali'''
print(name)
print(type(name))

ali
<class 'str'>

In [20]:
#
message : str = "PIAC Student Card \nfather's name:" # here single quotation marks for string will result in error
print(message)

PIAC Student Card
father's name:

In [28]:
message : str = 'PIAC "Student Card"\n Father Name : '
message

'PIAC "Student Card"\n Father Name : '

In [27]:
print(message)

 PIAC "Student Card"
 Father Name :

In [33]:
#  convert any special character into simple character by placing \ before it (as shown below).
message : str = 'PIAC Student Card \nFather\'s Name:'
print(message)

PIAC Student Card
Father's Name:

In [35]:

# concatenation in string
"a"+"b"+"c"

'abc'

In [60]:
#
name : str = "Qasim Khan"
fname : str = "Aslam Khan"
education : str = "Masters in Datascience"
age: int = 30
card : str = "PIAC Student Card \nStudent Name : " + name +\   # back slash \ to continue line. # "\n" to go to next line.
"\nAge : " + str(age) + "\nEducation : "+ education + "\n"+\
"Father's Name : "+ fname


print(card)

PIAC Student Card
Student Name : Qasim Khan
Age : 30
Education : Masters in Datascience
Father's Name : Aslam Khan

In [49]:
#
"a"+ str(7)  # string and int cannot concatenate. so we are using str function  to convert int to str. # type conversion

'a7'

In [56]:
print(7+8+2)

17

In [57]:
print(7+\ # \ means to write in next line and continuing the same thing. \ is used to continue line.
     8+\
     2)

17

## multi-line string :
## we can make multi line string by """     """   and '''    '''  .  below is example of it.

In [65]:
name : str = "M.Qasim"
fname : str = "M.Aslam" # father's name
age : int = 30
education : str = "Masters in Datascience"

card : str = """  
PIAC Student Card 
Student Name : 
Father's Name : ...............
Education : .................................
Age : ....
"""

print(card)

PIAC Student Card
Student Name :
Father's Name : ...............
Education : .................................
Age : ....

## f-string (formatted string)

In [75]:
# there are many f-string formats. below is recommended one.
name : str = "M.Qasim"
fname : str = "M.Aslam"
age : int = 30
education : str = "Masters in Datascience"

card : str =  f"""
PIAC Student Card
Student Name : {name}
Father's Name : {fname}
Age : {age}                     
Education : {education}

total {2+3+4}
"""
                                 # with f string we didnt have to change age int into str
print(card)

PIAC Student Card
Student Name : M.Qasim
Father's Name : M.Aslam
Age : 30
Education : Masters in Datascience

total 9

## f-string and jinja style

In [77]:
# f_string

f"""
Student Name : {name}
"""

'\nStudent Name : M.Qasim\n\n'

In [78]:
# jinja style

"""
Student Name : {{name}}
"""

'\nStudent Name : {{name}}\n'

In [87]:

# in c and in java , we use %
name : str = "M.Qasim"
fname : str = "M.Aslam"
education : str = "Masters in Datascience"
age : int = 30

card : str = f"""
PIAC Student Card
Student Name : %s
Father's Name: %s
Age : %d
Education : %s

""" % (name,fname,age,education)
print(card)
card  # ex

PIAC Student Card
Student Name : M.Qasim
Father's Name: M.Aslam
Age : 30
Education : Masters in Datascience

"\nPIAC Student Card\nStudent Name : M.Qasim\nFather's Name: M.Aslam\nAge : 30\nEducation : Masters in Datascience\n\n"

In [88]:
dir (str) # dir function tells the functions of a data  type , here it is telling all the functions of string data type.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [90]:
[i for i in dir(str) if "_" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [96]:
# string methods.
name : str = "MuHammAD QasIM"
print(name.capitalize())
print(name.lower())
print(name.upper())

Muhammad qasim
muhammad qasim
MUHAMMAD QASIM

In [97]:
#
a=7
b=8
"pakistan value a = {} and value b = {} ".format(a,b)

'pakistan value a = 7 and value b = 8 '

## .format() method with strings. 
.format() is a string method

In [99]:
# 
name : str = "Muhammad Qasim"
fname : str = "Muhammad Aslam"
education : str = "Masters in Datascience"
age : int = 30

card : str = """
PIAC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format (fname,name,education,education)

print(card)

PIAC Student Card
Student Name : Muhammad Aslam
Father's Name: Muhammad Qasim
Age: Masters in Datascience
Education : Masters in Datascience

In [101]:
# 
name : str = "Muhammad Qasim"
fname : str = "Muhammad Aslam"
education : str = "Masters in Datascience"
age : int = 30

card : str = """
PIAC Student Card
Student Name : {1}
Father's Name : {0}
Age : {3} 
Education: {2}
""".format(fname,name,education,age)
#           0      1       2      3

print(card)

PIAC Student Card
Student Name : Muhammad Qasim
Father's Name : Muhammad Aslam
Age : 30
Education: Masters in Datascience

In [102]:
name : str = "Muhammad Qasim"
fname : str = "Muhammad Aslam"
education : str = "Masters in Datascience"
age : int = 30

card : str = """
PIAC Student Card
Student Name : {a}
Father's Name : {b}
Age : {c} 
Education: {d}
""".format(b=fname,a=name,d=education,c=age)

print(card)

PIAC Student Card
Student Name : Muhammad Qasim
Father's Name : Muhammad Aslam
Age : 30
Education: Masters in Datascience

In [106]:
#
# below there is code written inside string.  (we can run student codes as shown in the string below.)
student_code : str = """             
print("My name is Muhammad Qasim.")
a : int = 7
b : int = 8
print(a+b)
"""

exec(student_code)  # the code inside the string student_code is being executed by using exec()  execute function.

My name is Muhammad Qasim.
15

## exploring string methods and attributes
below are pre-defined global functions:
* print()
* type()
* id()
* dir()
* len()

In [108]:
# list comprehensive
# the code below provides list of string methods.

a : list[str] = [i for i in dir(str) if "_" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

In [110]:
#
name : str = "MUHammad QASim"
#variable_name.method
# some methods have arguments.
print(name.capitalize())

Muhammad qasim

In [111]:
print(name.casefold())

muhammad qasim

In [112]:
print(name.lower())

muhammad qasim

In [119]:
name : str = "        Muhammad      Qasim        "
print(name)
print(name.lstrip())

        Muhammad      Qasim
Muhammad      Qasim

In [120]:
display(name)
display(name.lstrip()) # .lstrip() removes space from left side

'        Muhammad      Qasim        '

'Muhammad      Qasim        '

In [121]:
display(name.rstrip()) # .rstrip() removes space from right side

'        Muhammad      Qasim'

In [122]:
display(name.strip()) # .strip() removes space from both sides

'Muhammad      Qasim'

In [124]:
# but the strip methods dont remove space from between.
#
# below we  have removed space between Muhammad and Qasim.
import re
name : str = "         Muhammad       Qasim       "
display(name)
name1 : str = re.sub(" {2,100}"," ",name) #...
display(name1)

'         Muhammad       Qasim       '

' Muhammad Qasim '

In [125]:
# in the output above there is still space in left and right. to remove that space use .strip() also.      ' Muhammad Qasim '
name1 : str = re.sub(" {2,100}"," ",name).strip()
display(name1) 
# stripping space is used in pre=processing.

'Muhammad Qasim'

In [129]:
name : str = "ada loVeLace"
name.title()

'Ada Lovelace'

In [133]:
#
first_name : str = "ada"
last_name : str = "lovelace"
full_name : str = f"{first_name} {last_name}"
print(full_name)

ada lovelace

In [136]:
print(f"Hello, {full_name.title()}!")

Hello, Ada Lovelace!

In [139]:
# adding space
print("python")
print("\t python")

python
	 python

## removing and adding space

In [ ]:
# \n
# \t
# \b

In [140]:
print("Name:\t\t Muhammad Qasim")

Name:		 Muhammad Qasim

In [145]:
print("Name :  \n Muhammad Qasim")

Name :
 Muhammad Qasim

In [146]:
print("Name :\b Muhammad Qasim")

Name  Muhammad Qasim

In [149]:
print("Languages:\nPython \nC\nJavaScript")

Languages:
Python
C
JavaScript

In [155]:
print("Languages : \n\t Python    \n\t C              \n\t JavaScript")

Languages :
	 Python
	 C
	 JavaScript

In [158]:
#
favourite_language = "python "
favourite_language

'python '

In [159]:
favourite_language.rstrip()

'python'

In [160]:
favourite_language

'python '

In [161]:
#
favourite_language = "python  "
favourite_language = favourite_language.rstrip()   # rstrip means to remove space from right side.
favourite_language

'python'

In [170]:
# removing prefix
nostarch_url : str = "https://nostarch.com"
nostarch_url.removeprefix("http://") #  (wrong output.)

'https://nostarch.com'

In [167]:
print(nostarch_url.removeprefix("http://")  # the output should be      nostarch.com

SyntaxError: incomplete input (1955482097.py, line 1)

In [175]:
# NAMING CONVENTIONS
# peps.python.org     -> to know convention(naming convention)

# 1name is wrong variable name
name1
_1name =2
# the first letter of a variable name should be an alphabet or _ . it cannot be a number.
#'piac student name' is wrong variable name.
piac_student_name = 2

In [176]:
##
2+3

5

In [177]:
3-2

1

In [178]:
2*3

6

In [179]:
3/2

1.5