In [3]:
# modern python class 6 : if-elif(else if)-else, tuple,zip
# generative ai importance/applications/implication

## if-else-elif
# if logic:
#       True_block
# else:
#     False_block


## if else in comprehensive style
# True_block    if logic      else      False_block


if True:
    print("pakistan zinda bad")
else:
    print("hello world!")

pakistan zinda bad

In [4]:
if False:
    print("pakistan zinda bad")
else:
    print("hello world!")

hello world!

In [8]:
# true_block                        (if) logic       (else)            false_block
print("pakistan zinda bad")         if False       else            print("hello world!")

hello world!

# comparison operators:
 *==
 *>=
 *<=
 *!=
# logic:  
 *and
 *or 
 *not
# combinations:
 *if
 *if-else
 *if-elif(else if)-else

In [6]:
if True:
    print("kiki")

print("1")
print("2")

kiki
1
2

In [7]:
if False:
    print("kiki")

print("1")
print("2")

1
2

In [3]:
if True:    
    print("True")
elif False:
    print("elif1")

True

In [10]:
if True:
    print("kiki")
elif False:
    print("reesha")
elif False:
    print("rihanna")
elif False:
    print("gigi")
else:
    print("kylie")

kiki

In [13]:
if False:
    print("kiki")
elif True:
    print("reesha")
elif False:
    print("rihanna")
elif False:
    print("gigi")
else:
    print("kylie")

reesha

In [15]:
if False:
    print("kiki")
elif True:
    print("reesha")
elif True:
    print("rihanna")
elif False:
    print("gigi")
else:
    print("kylie")

print("pakistani")

reesha
pakistani

In [16]:
if True:
    print("kiki")
elif False:
    print("reesha")
elif False:
    print("rihanna")
elif False:
    print("gigi")
else:
    print("kylie") 

if False:
    print("kiki")
elif True:
    print("reesha")
elif True:
    print("rihanna")
elif False:
    print("gigi")
else:
    print("kylie")

print("pakistani")

kiki
reesha
pakistani

In [22]:
# grading system/rule
from typing import Union

percentage : Union [int,float] = 88
grade : Union[str,None] = None

if percentage >= 88 :  # if True:
    grade = "A+"
elif percentage >= 70:
    grade = "A"
elif percentage >= 60:
    grade = "B"
elif percentage >= 50:
    grade = "C"
elif percentage >= 40:
    grade="D"
elif percentage >= 33:
    grade="E"
else:
    grade = "fail"
   
print(f"your percentage is {percentage} and your grade is {grade} .")

your percentage is 88 and your grade is A+ .

In [34]:
from typing import Union

#percentage : int | float = 22
percentage : Union [int,float] =int( (input("enter your percentage")))
grade : Union [str,None] = None
# grade : Optional[str]= None
if percentage >= 88:
    grade= "A+"
elif percentage >=70:
    grade = "A"
elif percentage >= 60:
    grade = "B"
elif percentage >= 50:
    grade = "C"
elif percentage >= 40:
    grade = "D"
elif percentage >= 33:
    grade = "E"
else:
    grade="fail"

print(f"your percentage is {percentage} and your calculated grade is {grade}")

enter your percentage 44

your percentage is 44 and your calculated grade is D

In [13]:
from typing import Union
percentage : Union [int,float] = int (input("enter your percentage:"))
grade : Union [str,None] = None

if (percentage>= 0) and (percentage<33): # round brackets to show we are applying pemdas rule
    grade="fail"
elif percentage>=33 and percentage<40:
    grade="E"
elif percentage>=40 and percentage<50:
    grade="D"
elif percentage>=50 and percentage<60:
    grade="C"
elif percentage>=60 and percentage<70:
    grade="B"
elif percentage>=70 and percentage<80:
    grade="A"
else:               # or   elif percentage>=80 and percentage <=100:
    grade="A+"      #       grade="A+"
    
print(f"the grade for your percentage is {grade}")

enter your percentage: 88

the grade for your percentage is A+

In [24]:
PerType =  Union[float,int] # custom type

In [28]:
# student percentages

percentages : list[PerType] 
percentages = [88, 99.9,50,51,65,70]

grades : list [str] = []

for percentage in percentages:
    grade : str = " "
    if percentage >= 88 : 
       grade = "A+"
    elif percentage >=70:
       grade = "A"
    elif percentage >= 60:
       grade = "B"
    elif percentage >= 50:
      grade = "C"
    elif percentage >= 40:
      grade="D"
    elif percentage >= 33:
      grade="E"
    else:
      grade = "fail"
    grades.append(grade)
   
print (percentages)
print(grades)

[88, 99.9, 50, 51, 65, 70]
['A+', 'A+', 'C', 'C', 'B', 'A']

In [30]:
# zip(percentages,grades)      # zip  function zips together thingd (here grade and percentage)
list(zip(percentages,grades)) # zip is generative function so we have to use iterative data type with it like list.

[(88, 'A+'), (99.9, 'A+'), (50, 'C'), (51, 'C'), (65, 'B'), (70, 'A')]

In [31]:
list(zip(percentages,grades,list(range(len(percentages)))))

[(88, 'A+', 0),
 (99.9, 'A+', 1),
 (50, 'C', 2),
 (51, 'C', 3),
 (65, 'B', 4),
 (70, 'A', 5)]

In [ ]:
# student percentages      ex

percentages : list[PerType] 
percentages = [88, 99.9,50,51,65,70]

grades : list [str] = []
for percentage=88  in [88, 99.9,50,51,65,70] :  #for percentage in percentages:
                                           
    grade : str = " "
    if percentage >= 88 : 
       grade = "A+"
    elif percentage >=70:
       grade = "A"
    elif percentage >= 60:
       grade = "B"
    elif percentage >= 50:
      grade = "C"
    elif percentage >= 40:
      grade="D"
    elif percentage >= 33:
      grade="E"
    else:
      grade = "fail"
    grades.append(grade)
   
print (percentages)
print(grades)

In [32]:
names : list [str] = ["zia"]
names.append("qasim")
names

['zia', 'qasim']

In [36]:
roll_no : list[int] = list(range(len(percentages)))
roll_no

[0, 1, 2, 3, 4, 5]

In [38]:
database = list(zip(roll_no,percentages,grades))
database
# the output is a database

[(0, 88, 'A+'),
 (1, 99.9, 'A+'),
 (2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A')]

In [43]:
display(database)
sorted(database)  # it soerted first coulmn.

[(0, 88, 'A+'),
 (1, 99.9, 'A+'),
 (2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A')]

[(0, 88, 'A+'),
 (1, 99.9, 'A+'),
 (2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A')]

In [44]:
 sorted (database, key=lambda x : x[1])  # sorted according to index 1

[(2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A'),
 (0, 88, 'A+'),
 (1, 99.9, 'A+')]

In [45]:
sorted (database , key = lambda x : x[1], reverse = True)

[(1, 99.9, 'A+'),
 (0, 88, 'A+'),
 (5, 70, 'A'),
 (4, 65, 'B'),
 (3, 51, 'C'),
 (2, 50, 'C')]

In [52]:
cars : list [str] = ["audi", "bmw","subaru","toyota"]
for car in cars:   # to move group of lines forward and backward use 'tab' and 'shift and tab'.
    if car =="bmw":
        print(car.upper())    
else:
    print(car.title())
# wrong output
# correct output : Audi BMW Subaru Toyota

BMW
Toyota

In [69]:
print(car) # it should print toyota.

bmw

In [67]:
# list comprehensive of above e.g
cars : list [str] = ["audi","bmw","subaru","toyota"]

#  for i in cars
[i for i in cars]

#                logic                               for loop
# true block     if            else    false block     (for loop..)                  # list comprehensive
[i.upper()      if i=="bmw"    else    i.title()       for i in cars ]

['Audi', 'BMW', 'Subaru', 'Toyota']

In [58]:
[1 for i in cars] # ex

[1, 1, 1, 1]

In [62]:
car = "bmw"
print(car == "bmw")

True

In [70]:
car = "audi"
car == "bmw"

False

In [71]:
#
car = "Audi"
car == "audi"

False

In [72]:
car = "Audi"
car.lower()  == "audi" # ignoring case when checking email

True

In [73]:
# inequality
cars : list [str] = ["audi","bmw","mehran","subaru","toyota"]
for car in cars :
    if car != "mehran" :
        print(car.upper())

AUDI
BMW
SUBARU
TOYOTA

In [77]:
cars : list [str] = ["audi","bmw","mehran","subaru","toyota"]
for car in cars :
    if car != "mehran" :
        print(car.upper())
    else:
        print(car.lower())

AUDI
BMW
mehran
SUBARU
TOYOTA

In [78]:
#
age = 18
age == 18

True

In [79]:
#
answer = 18
if answer != 42:
    print("that is not the correct answer . try again")

that is not the correct answer . try again

In [80]:
# 
age = 19
age < 21

True

In [81]:
age <= 21

True

In [82]:
age > 21

False

In [83]:
age >= 21

False

In [84]:
# 
age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >= 21

False

In [86]:
age_1 = 22
(age_0 >= 21) and (age_1 >= 21)
# and or not to make login system

True

In [87]:
# in operator behaves differently with for loop  and        . in operator extracts elements from iterative types (with for loop).
# but in operator outside loop , with if else checks membership  (whether the member is present in list or not)

cars : list [str] = ["audi","bmw","mehran","sebaru","toyota"]
"bmw" in cars

True

In [88]:
 # database system
banned_users : list [str] = ["andrew","carolina","david"]
user : str = "marie"

user not in banned_users

True

In [89]:
banned_users : list[str] = ["andrew","carolina","david"]
user : str = "marie"
if user not in banned_users:
    print(f"{user}, you can post a response if you wish")
# you can use bank if you are not in blocked list people , / can be when logging in. application.

marie, you can post a response if you wish

In [90]:
game_active = True

In [91]:
#
age = 17  # age : int = 17
if age>=18:
    print("you are old enough to vote")
    print("have you registered to vote yet?")
else:
    print("you are young to vote")
    print("register to vote when you turn 18")

you are young to vote
register to vote when you turn 18

In [92]:
# if - elif (else if) - if chain
age = 12

if age<4 :
    print("your admission cost is 0$")
elif age < 18 :
    print("your admission cost is 25$")
else:
    print("your admission cost is 40$")

your admission cost is 25$

In [94]:
# other way
age = 12

if age < 4 :
    price = 0
elif age < 18 :
    price = 25
else:
    price = 40

print(f"your admission cost is {price}$")

your admission cost is 25$

In [96]:
#
requested_toppings : list [str] = ["mushrooms","extra cheese"]

if "mushroom" in requested_toppings:
    print("add mushrooms")
    
if "peporoni" in requested_toppings:
    print("add peporoni")
    
if "extra cheese" in requested_toppings:
    print("add extra cheese")

print("\nfinished making your pizza")

add extra cheese

finished making your pizza

In [100]:
#
requested_toppings : list [str] = ["mushroom","green peppers","extra cheese"]

for requested_topping in requested_toppings:
    if requested_topping == "green peppers":
        print("sorry we are out of green peppers right now")
    else:
        print(f"adding {requested_topping} ")

print("\nfinished making your pizza")

adding mushroom
sorry we are out of green peppers right now
adding extra cheese

finished making your pizza

In [105]:
# 
requested_Topppings  = []
if requested_Toppings:
    for requested_topping in requested_Toppings:
        print(f"adding {requested_topping}")
        print("\nfinished making your pizza")
else:
    print("are you sure you want a plain pizza?")

NameError: name 'requested_Toppings' is not defined

In [109]:
# multiple lists
available_toppings : list[str] = ["mushroom","olive","green pepper","pepporoni","pineapple","extra cheese"]
requested_toppings : list[str] = ["mushroom","french fries","extra cheese"] # can be user input . this is user input.

for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print(f"adding {requested_topping}")
    else:
        print(f"sorry, we dont have {requested_topping}")

print("\nfinished making your pizza")

adding mushroom
sorry, we dont have french fries
adding extra cheese

finished making your pizza

In [110]:
#
input("enter ',' separated value for topping : ").split(",")  # entering toppings dynamically

enter ',' separated value for topping :  sas,dsada,dsad

['sas', 'dsada', 'dsad']

In [115]:
#
user_name : str = input("enter id : ")
user_password : str = input("enter password :")

if user_name == "admin" and user_password == "admin" :
    print("sent otp on your registered number")
    otp : str = input("enter otp")
    if otp == "123":
        print("welcome PAIC")
    else:
        print("invalid user name or password.")

enter id :  admin
enter password : admin

sent otp on your registered number

enter otp 1234

invalid user name or password.