# class 5 : list ,tuple and list comprehensive
#list : iteration operation with loop, apply any operation on element.

In [5]:
names : list[str] = ["sir zia","m.qasim","dr noman"]
print(names)

['sir zia', 'm.qasim', 'dr noman']

In [6]:
names : list[str] = ["sir zia","m.qasim","dr noman"]
for name in names:
    print(names)
# loop can perform interation on iterative data type (list,tuple)

['sir zia', 'm.qasim', 'dr noman']
['sir zia', 'm.qasim', 'dr noman']
['sir zia', 'm.qasim', 'dr noman']

names : list[str] = ["sir zia","m.qasim","dr noman"]
for name in names:
for names in ["sir zia","m.qasim","dr noman"]:
for "sir zia" in ["sir zia","m.qasim","dr noman"]:

In [9]:
names : list[str] = ["sir zia","m.qasim","dr noman"]
for name in names:
    print(name) # indentation is of four spaces

sir zia
m.qasim
dr noman

In [11]:
names : list [str] = ["sir zia","m.qasim","dr noman"]
for name in names:
    print(f"welcome dear teacher{name.title()}")

welcome dear teacherSir Zia
welcome dear teacherM.Qasim
welcome dear teacherDr Noman

In [12]:
for name in names:
    print(f"welcome dear teacher{name.title()}")
    print("paic gen ai team")

welcome dear teacherSir Zia
paic gen ai team
welcome dear teacherM.Qasim
paic gen ai team
welcome dear teacherDr Noman
paic gen ai team

In [13]:
for name in names:
    print(f"welcome dear teacher{name.title()}")
    print("paic gen ai team\n") # this line is printed with every iteration

welcome dear teacherSir Zia
paic gen ai team

welcome dear teacherM.Qasim
paic gen ai team

welcome dear teacherDr Noman
paic gen ai team

In [14]:
names : list [str] = ["sir zia","m.qasim","dr noman"]
for name in names:
    print(f"welcome dear teacher{name.title()}")
    print("paic gen ai team\n")

print("pakistan zinda a bad")

welcome dear teacherSir Zia
paic gen ai team

welcome dear teacherM.Qasim
paic gen ai team

welcome dear teacherDr Noman
paic gen ai team

pakistan zinda a bad

In [16]:
names : list [str] = ["sir zia","m.qasim","dr noman"]
for name in names[:2]: # slicing. to print print particular number of elements from collection, not all elements
    print(name)

sir zia
m.qasim

In [17]:
names : list [str] = ["sir zia","m.qasim","dr.nouman"]
for name in names[::-1]:
    print(name)

dr.nouman
m.qasim
sir zia

In [20]:
# example   ( user name and password in database)
#                                      user    pasword
data_base : list [tuple[str,str]] = [("qasim","123"),
                                    ("sir zia","345"),
                                    ("ikhlas","789")]
for row in data_base:
    print(row)

('qasim', '123')
('sir zia', '345')
('ikhlas', '789')

In [22]:
input_user : str = input("enter user name:")
print("input_user")

enter user name: m.qasim

input_user

In [30]:
data_base : list[tuple[str,str]] = [("qasim","123"),  # user name and password in database . aunthentication system
                                   ("sir zia","345"),
                                   ("ikhlas","789")]

input_user : str = input("enter user name:")
input_password : str = input("enter password :")

for row in data_base:
    user,password = row # unzip
    if input_user == user and input_password == password:
        print("valid user")
    break
else:
    print("not found or invalid user name")

enter user name: dfdf
enter password : fdf

In [32]:
# example
names : list [str] = ["sir zia","m.qasim","dr noman"]

for name in names :
    print(name)
else:
    print("hello world")

sir zia
m.qasim
dr noman
hello world

In [33]:
#                   difference between using else with for and      not using else with for
# example a1 
names : list [str] = ["sir zia","m.qasim","dr noman"]
for name in names:
    print (name)
else:
    print("hello world")

sir zia
m.qasim
dr noman
hello world

In [37]:
# b1
names : list [str] = ["sir zia","m.qasim","dr noman"]
for name in names:
    print (name)
print("hello world")

sir zia
m.qasim
dr noman
hello world

In [38]:
# a2
names : list [str] = ["sir zia","m.qasim","dr noman"]
for name in names:
    print (name)
    break
else:
    print("hello world")

sir zia

In [39]:
# b2
names : list [str] = ["sir zia","m.qasim","dr noman"]
for name in names:
    print (name)
    break
print("hello world")

sir zia
hello world

In [42]:
names : list [str] = ["sir zia","m.qasim","dr noman"]
for name in names:
print(name) 
# error in output due to no indentation in third line.

IndentationError: expected an indented block after 'for' statement on line 2 (139048422.py, line 3)

In [4]:
magicians : list [str] = ["alice","david","carolina"]
for magician in magicians:
    print(f"{magician.title()} that was a great trick!")
    
print(f"I can't wait to see your next trick {magician.title()}.") # in the output there is 'carolina'. it is because in python the value of local 
# variable in loop can be used outside the loop. (magician value carolina is accessible outside loop)

Alice that was a great trick!
David that was a great trick!
Carolina that was a great trick!
I can't wait to see your next trick Carolina.

# numbers with loop : range (start,end,step)

In [5]:
range(10) # the output shows we cannot get numbers without iteration

range(0, 10)

In [6]:
range(0,10)

range(0, 10)

In [7]:
list(range(10)) # starting=0, ending=n-1  # first number is default zero. 10 is second number.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(2,21,2)) # table of 2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:

for n in range(2,21,2): # here loop is performing iteration itself so we dont have to use list with range
    print(n)

2
4
6
8
10
12
14
16
18
20

In [12]:
# we apply list on generative function like range and enumerate.
magicians=["alice","david","carolina"]

# enumerate(magicians)
list(enumerate(magicians)) #enumerate function returns element with its index number

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [15]:

magicians = ["alice","david","carolina"]
for index,name in enumerate(magicians): # here we didnt put 'list' with 'enumerate(magicians)' because we have used 'for loop' which does iteration for us
    print(name,index)

alice 0
david 1
carolina 2

In [16]:
# table of 2
for n in range (1,11):
    print(f"{2}X{n}={n*2}")

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

In [20]:

squares : list[int] = []
for value in range (1,11) :
    square= value**2         # ('square' is local variable)
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# LIST COMPREHENSIVE

# for item in items_list:
#        loop_body



# COMPREHENDIVE STYLE

# loop_body for item_list

In [1]:
range(1,11)

range(1, 11)

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range (1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [5]:
[i**2            for i in range (1,11)]
# loop_body       for item in items_list(normal loop)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
digits : list[int] = [1,2,3,4,5,6,7,8,9,0]
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [17]:
my_foods = ["pizza","falafel","carrot cake"]
friend_foods = my_foods[:] # the benefit of slcing is that it makes deep copy. here it made deep copy.

print(my_foods)
print(friend_foods)

friend_foods[0] = "tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['tikka', 'falafel', 'carrot cake']

In [16]:
my_foods = ["pizza","falafel","carrot cake"]
friend_foods = my_foods     # otherwise . 

print(my_foods)
print(friend_foods)

friend_foods[0] = "tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['tikka', 'falafel', 'carrot cake']
['tikka', 'falafel', 'carrot cake']

In [19]:
# tuple : it is immutable. it is like constant variable.  we cannot append and update it. we can update by iteration.
names : tuple[str] = ("A","B","C")
print(names[0])
print(names[0:2])

A
('A', 'B')

In [20]:
names : tuple[str]  = ("a","b","c")
names[0] = "pakistan"  # error

TypeError: 'tuple' object does not support item assignment

In [23]:
names : tuple[str]  = ("a","b","c")
names : tuple[str] =  ("pakistan","b","c")
print(names)
# here we have not updated the tuple, we have assigned it again.

('pakistan', 'b', 'c')

In [24]:
from typing import Any
data : tuple[Any] = ("a",[1,2,3],True)
print(data)

('a', [1, 2, 3], True)

In [27]:
data : tuple [Any] = ("a",[1,2,3],True)
data[1].append(20) # we cannot update tuple elements but we can update a list tuple element.
print( data)

('a', [1, 2, 3, 20], True)

In [32]:
tuple = (3,)
print(tuple)

(3,)

In [38]:
# list within list/nested list

sorted([22,34,1,7])

[1, 7, 22, 34]