# 07 Python Crash Course | Dictionary, set, tuple, dictionary comprehensive

In [14]:
# list   
data : list [str] = ["Muhammad Aslam", "Muhammad Asim","MSDS"]
#                      father name          name         education

# importance of dict is to know on which index number which thing is stored.
data[0]

'Muhammad Aslam'

# Dictionary
* key : value (items)
    * key in dict is a replacement of indexing
    * the value in dictionary is same as value/item in list

In [12]:
from typing import Dict
data : list = ["Muhammad Aslam","Muhammad Asim","MSDS"]
data : Dict[str,str] = {
    1 : "Muhammad Aslam",
    "name" : "Muhammad Qasim",
    "education" : "MSDS"
}

# you extract information from dictionary by  using key ' dict_varisable[key] '

print(data)

{1: 'Muhammad Aslam', 'name': 'Muhammad Qasim', 'education': 'MSDS'}

#
* dict_variable[key]
    * dict_variable[new_key] = new_value
         * add new value
         * update value

In [5]:
display(data)

{'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim', 'education': 'MSDS'}

In [6]:
print(data)

{'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim', 'education': 'MSDS'}

In [8]:
import pprint
pprint.pprint(data)

{'education': 'MSDS', 'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim'}

In [23]:
#
from typing import Dict , Union , Optional
import pprint

Key = Union[int,str]  # create custom type
Value = Union [int , str , list, dict , tuple, set]

data : Dict[Key,Value] = {
    "fname" : "Muhammad Aslam",
    2 : "Muhammad Qasim",         # with union we can use 2 as key here
    "education" : "MSDS",
    3 : "Pakistan"
}

pprint.pprint(data)
print(data["fname"])
print(data[2])
print(data["education"])
print(data[3])
print(data[0])  # error.       there is no indexing by number in dict.

{2: 'Muhammad Qasim',
 3: 'Pakistan',
 'education': 'MSDS',
 'fname': 'Muhammad Aslam'}
Muhammad Aslam
Muhammad Qasim
MSDS
Pakistan

KeyError: 0

In [35]:
# UNHASHABLE
data_2 : Dict = {
    "education": "MBBS",
    2: [1,1,1]
      
}
print(data_2)

data_3 : Dict = {
    "education" : "MBBS" , 
    [1,1,1] : 2
}

{'education': 'MBBS', 2: [1, 1, 1]}

TypeError: unhashable type: 'list'

In [30]:
# SET DATA TYPE
data : set = {1,2,2,2,3,3,3,3,3,6}
print(data) # set data type prints things not repeating.
print(data[0])  # error. there is no indexing in set.

{1, 2, 3, 6}

TypeError: 'set' object is not subscriptable

In [31]:

# set methods and attributes
[i for i in dir(data) if "__" not in i ]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# we have not used Any instead of Union because Any does not allow unhashable data type to be put in dict value , item.
# we can put list data type in ' value' of dict when using Dict because we can store Any in value of Dict.

### dict key cannot be list , set ( unhashable type).
dict key should be of str , int data type . and maybe tuple as well.

In [36]:
data : Dict = {
    [1,2,3] : "pakistan"  # error
}

TypeError: unhashable type: 'list'

In [38]:
data : Dict = {
    (1,2,3) : "pakistan" # tuple should have given error maybe. 
}

In [39]:
data : Dict = {
    {1,2,3} : "qasim"  # error
}

TypeError: unhashable type: 'set'

### now putting different data types in dict 'value'. they work.

In [47]:
#
data1 : Dict = {
    "abc" : [1,2,3], # putting list as value
    "abc" : {1,2,3} , # putting set as value
    "abc" : (1,2,3) , # putting tuple as value
    "abc" : {"a": 1,"b": 2}, # putting dict as value
    "abc" : 1,
    "abc" : "abc"
}

pprint.pprint(data1) # the result is not priniting the whole dict. it is only printing the last dict item. !

{'abc': 'abc'}

In [50]:
# 
# convert set to list
abc : set = {1,2,3,2,2,1}
print(abc)
xyz : list = list(abc)
print(xyz)

{1, 2, 3}
[1, 2, 3]

In [51]:
#
# ADDING THINGS IN DICT. (by using assign operator)
from typing import Dict , Union , Optional
import pprint

Key = Union [int,str]
Value = Union [int,str,list, dict, tuple , set]

data : dict[Key,Value] = {}

data["name"] = "Muhammad Qasim"
data["fname"] = "Muhammad Aslam"
data["education"] = "MSDS"

print(data)

{'name': 'Muhammad Qasim', 'fname': 'Muhammad Aslam', 'education': 'MSDS'}

In [55]:
#
# UPDATING DICT. (by using assign operator.)
data : dict = {
    "name" : "Muhammad Qasim",
    "fname" : "Muhammad Aslam",
    "education" : "MSDS"
}

data["name"] = "Muhammad Ali"

print(data)

{'name': 'Muhammad Ali', 'fname': 'Muhammad Aslam', 'education': 'MSDS'}

## dict methods

In [56]:
# 
# key vlaue in dict is like tuple.

# dictionary methods and attributes
[i for i in dir(data) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [71]:
 # using 'get' method of dict.  

# get mothod is used to check whether key is present or not in dict. if we dont use the 'get' method and write wrong key name the code can crash.
print(data["pakistan"]) # error.

KeyError: 'pakistan'

In [66]:
print(data.get("pakistan"))

None

In [67]:
print(data.get("paksistan", "NA"))

NA

In [68]:
print(data.get("name"))

Muhammad Ali

In [74]:
# USING DICT KEY(), VALUE(), ITEM() FUNCTIONS
for d in data:
    print(d)   # output is keys

name
fname
education

In [77]:
print(data.keys())
print(data.values())
print(data.items())

dict_keys(['name', 'fname', 'education'])
dict_values(['Muhammad Ali', 'Muhammad Aslam', 'MSDS'])
dict_items([('name', 'Muhammad Ali'), ('fname', 'Muhammad Aslam'), ('education', 'MSDS')])

In [78]:
for k in data.keys():
    print(k)

name
fname
education

In [79]:
for k in data.keys():
    print(k,data[k])

name Muhammad Ali
fname Muhammad Aslam
education MSDS

In [82]:
for v in data.values():
    print(v)

Muhammad Ali
Muhammad Aslam
MSDS

In [83]:
for i in data.items():
    print(i)

('name', 'Muhammad Ali')
('fname', 'Muhammad Aslam')
('education', 'MSDS')

In [84]:
for k,v in data.items(): # unzipping
    print(k,v)

name Muhammad Ali
fname Muhammad Aslam
education MSDS

In [86]:
# DICTIONARY COMPREHENSIVE

# for k,v in data.items():
#      a

#  print(k,v)
#       b

{k:v for k,v in data.items()}
# b ,         a

{'name': 'Muhammad Ali', 'fname': 'Muhammad Aslam', 'education': 'MSDS'}

In [88]:
a= {v:k for k,v in data.items()}
print(a)

{'Muhammad Ali': 'name', 'Muhammad Aslam': 'fname', 'MSDS': 'education'}

In [89]:
# shuffling . value of a in b and value of b in a.
a : int = 7
b : int = 9
a,b = b,a
print(a,b)

9 7

In [93]:
# (converting list to dict)
# using 'fromkeys()' dict method.

keys : list[str] = ["id","name","fname","course"]
data : dict[Key,Value] = {}

print(data)

data.fromkeys(keys) # the dict took keys from 'keys' list.   inline operation

{}

{'id': None, 'name': None, 'fname': None, 'course': None}

In [94]:
print(data)

{}

In [97]:
#
data = data.fromkeys(keys)
print(data)

{'id': None, 'name': None, 'fname': None, 'course': None}