04 Class Python Crash Course | list, indexing, slicing and list methods/attributes

In [3]:
# list
# array->list->numpy.                you can store multiple values in one variable
name1= "qasim"  # name1 : str = "qasim"
name2 =  " sir zia"
name3 = "sir inam"

# list has dynamic lenght, it can contain hetrogeneous data ( different data types) , it has indexing ( negative and postive indexing)

In [20]:
# indexes/positive indexing  
#            0        1         2 
names = ["qasim","sir zia","sir inam"]
#          -3       -2        -1
# negative indexing      
print(names[0])
print(names[-3])
print(names[1])

qasim
qasim
sir zia

In [22]:
from typing import Any

# positive indexing
#          0         1        2
names= ["qasim", "sir zia","sir inam"]      # or names : list [Any]= ["qasim","sir zia", "sir inam"]
#         -3        -2        -1
# negative indexing

print(names[-2])

sir zia

In [26]:
# positive indexing
#          0         1        2
names= ["qasim", "sir zia","sir inam"]      # or names : list [Any]= ["qasim","sir zia", "sir inam"]
#         -3        -2        -1
# negative indexing

print(f"founder of PAIC {names[-2]}") # using f string
print(type(names))
print(type(names[0]))

founder of PAIC sir zia
<class 'list'>
<class 'str'>

#slicing  
start : int  = include
end : int = n-1
step : int = sequence

In [28]:
# slicing
characters : list[str] = list ("ABCDEFGHIJKLMNOPQURSTXYZ")   # or characters = list ("ABCDEFGHIJKLMNOPQURSTXYZ")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'U', 'R', 'S', 'T', 'X', 'Y', 'Z']

In [37]:
# ex  ??
characters   = list("ABCDEFGHIJKLMNOPQURSTXYZ") # using list function () to do iteration on string data type
print(characters)
type(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'U', 'R', 'S', 'T', 'X', 'Y', 'Z']

list

In [35]:
# string is iterative data type on which iteration can be performed 
"abcd"

'abcd'

In [36]:
list("abcd")

['a', 'b', 'c', 'd']

In [38]:
list("i live in pakistan")

['i',
 ' ',
 'l',
 'i',
 'v',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 'p',
 'a',
 'k',
 'i',
 's',
 't',
 'a',
 'n']

In [15]:
# slicing : slicing is used to extract two or more than two things . slicing is extraction.

# positve indexing           0    1    2                                                                                                       23
characters : list [str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'U', 'R', 'S', 'T', 'X', 'Y', 'Z']
# negative indexing         -24  -23  -22                                                                                           -3    -2   -1 

# note: by default slicing is from left to right
# variable[start:end:step]
print(characters[0:2])
print(characters[:2])  # blank space for starting value here means all ( all values from start are included)
print(characters[-24:  -22  ])
print(characters[0:2:1]) # using step. step size here is 1.
print(characters[0:2:])

['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']

In [31]:
characters : list [str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'U', 'R', 'S', 'T', 'X', 'Y', 'Z']
print(characters[::])  # print(chracters[ _ : _ : _ ])
print(characters[::2]) # here step size is two
print(characters[::-1]) # when we put -1 step size, it starts moving from reverse direction.
print(characters[23:10:-2])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'U', 'R', 'S', 'T', 'X', 'Y', 'Z']
['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'R', 'T', 'Y']
['Z', 'Y', 'X', 'T', 'S', 'R', 'U', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
['Z', 'X', 'S', 'U', 'P', 'N', 'L']

In [40]:
#                          0   1    2  3   4   5   6   7
characters : list[str] = ["A","B","C","D","E","F","G","H"]
#                         -8  -7  -6  -5  -4  -3  -2  -1
print(characters[1:-3])
print(chracters[-2:-5])  # by default we move from left to right. when we move from -2 towards left , there is no -5 , so result in empty list.
print(characters[-2:-5:-1])

# slicing is used in numpy, in numbers computation.

print(chracters[0])
print(characters[-8],[-7])

['B', 'C', 'D', 'E']
[]
['G', 'F', 'E']
A
A [-7]

In [50]:

#                       0         1         2        3    4
names  = ["qasim","sir zia","sir inam", 20 , True]              # names  : list [Any] = ... was not working.
#                        -5     -4         -3       -2   -1
print(names)
print(names[0])
names[0] = "M.qasim"  # python editable/mutable
names [0]

['qasim', 'sir zia', 'sir inam', 20, True]
qasim

'M.qasim'

In [51]:
# things can be deleted with index number
# in the example below we are deleting an element (from list by using its index number)
#                       0         1         2        3    4
names  = ["qasim","sir zia","sir inam", 20 , True]              
#                        -5     -4         -3       -2   -1

print(names)
del names[3]
print(names)

['qasim', 'sir zia', 'sir inam', 20, True]
['qasim', 'sir zia', 'sir inam', True]

In [52]:
a : str = 1 # then what is the point of writng data type??
print(a)

1

In [56]:
# non retrun function
a : str = print ("pakistan")
display(a)  # print is non return function that is why result is 'none'

pakistan

None

In [59]:
# return function . id is return function . ( return function gives answer and we can store that answer in a variable)
a : str = id(names)
display(a)

1563271101504

In [60]:
# list methods

[i for i in dir(list) if "_" not in i]

# the result below shows functions.

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [62]:
# help

# help(object)
# object?
# object??
# ?object
# ??object

help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [63]:
print??

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [66]:

#            0         1         2        3    4
names  = ["qasim","sir zia","sir inam", 20 , True]            
#            -5     -4         -3       -2   -1

del names[3]
names

['qasim', 'sir zia', 'sir inam', True]

In [73]:

#            0         1         2        3    4
names  = ["qasim","sir zia","sir inam", 20 , True]            
#            -5     -4         -3       -2   -1

a : str = names.pop(0)  # pop removes last element.   pop is return method.
print( names)
print(a)

['sir zia', 'sir inam', 20, True]
qasim

In [71]:
print(print("kiki"))

kiki
None

In [75]:
names : list [str] = []
names.append("sir zia")  # this element is added to the last
names.append("sir inam") # this element is added to the last
names.append("qasim")  # this element is added to the last
names

['sir zia', 'sir inam', 'qasim']

In [78]:
# insert method. insert method adds on particular position.
names : list[str] = ["a","b","c","d"]
print(names)
names.insert(1,"qasim")
print(names)

['a', 'b', 'c', 'd']
['a', 'qasim', 'b', 'c', 'd']

In [81]:
a : list[str] = [1,2,3]
print(a)

[1, 2, 3]

In [82]:
a : list[str] = [1,2,3]
del a
print(a)

NameError: name 'a' is not defined

In [83]:
a : list[str] = [1,2,3]
a.clear()
print(a)

# 'del' removes from memory , it deletes the variable. 'clear()' deletes the value in that variable , not the variable itself.

[]

In [85]:
a : list [str] = ["a", "b", "c","d"]
b = a
print(a)
print(b)
b[0] = "pakistan"
print(a) # the result shows that we only made changes to variable 'b' but both variables have changed / we only wanted to update b variable but both got updated  (this is a problem)
print(b) # ""  ""  ""

# the last two results show copy by reference has occured. it is becasue the memory location got copied. so the variables became same.

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['pakistan', 'b', 'c', 'd']
['pakistan', 'b', 'c', 'd']

In [86]:
# in order to overcome this problem use 'copy()' function
a : list [str] = ["a", "b", "c","d"]
b = a.copy() # deep copy ( above it was shallow copy)
print(a)
print(b)
b[0] = "pakistan"
print(a)
print(b)
# now the result shows that 'pakistan' is only updated in b variable .

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['pakistan', 'b', 'c', 'd']

In [91]:
# count()
names : list[str] = ["a","a","a","b","c","c"]
print(names.count("c"))
print(names.count("a"))

2
3

In [93]:
# diff between extend and append
# extend()
names : list[str] = ["sir zia", "m.qasim" ] # gen ai founder members
new_faculty_members : list[str] = ["sir inam", "dr noman"]
names.append(new_faculty_members)
names

['sir zia', 'm.qasim', ['sir inam', 'dr noman']]

In [95]:
# extend()"
names : list[str] = ["sir zia", "m.qasim" ] # gen ai founder members
new_faculty_members : list[str] = ["sir inam", "dr noman"]
names.extend(new_faculty_members)
names

['sir zia', 'm.qasim', 'sir inam', 'dr noman']

In [100]:
# remove()
# importing Any  for list gives error
names : list[str] = ['sir zia', 'm.qasim', 'sir inam', 'dr noman']
names.remove("m.qasim" )
names

['sir zia', 'sir inam', 'dr noman']

In [101]:
# index()
names : list[str] = ['sir zia', 'm.qasim', 'sir inam', 'dr noman']
names.index("m.qasim" )

1

In [112]:
names : list[str] = ['sir zia', 'm.qasim', "m.qasim" ,'sir inam', 'dr noman',"m.qasim"]
names.index("m.qasim" )

1

In [114]:
n : list[str] = ['sir zia', 'm.qasim', "m.qasim", 'sir inam', 'dr noman',"m.qasim"]
n.index("m.qasim" ,3) # result?

5

In [115]:
# reverse()
names : list[str] = ['sir zia', 'm.qasim', "m.qasim", 'sir inam', 'dr noman',"m.qasim"]
names.reverse()
names

['m.qasim', 'dr noman', 'sir inam', 'm.qasim', 'm.qasim', 'sir zia']

In [117]:
names : list[str] = list("ABCDEF")
names.reverse()
names

['F', 'E', 'D', 'C', 'B', 'A']

In [122]:
# sort function
names : list[str] = list("AZCSSCBCDEF")
names
names.sort()
names # the result shpws it sorted alphabetically

['A', 'B', 'C', 'C', 'C', 'D', 'E', 'F', 'S', 'S', 'Z']

In [123]:
names : list[str] = list("AZCSSCBCDEF")
names
names.sort(reverse=True) # sorted in reverse order/ descending
names

['Z', 'S', 'S', 'F', 'E', 'D', 'C', 'C', 'C', 'B', 'A']

In [125]:
names : list[str] = ['sir zia', 'm.qasim', "m.qasim", 'sir inam', 'dr noman',"m.qasim"]
del names[1:3] # multiple values deletion
names

['sir zia', 'sir inam', 'dr noman', 'm.qasim']